---
import PostLayout from '../../layouts/PostLayout.astro';
import FooterSection from '../../components/FooterSection.astro';
import { kuliners } from '../../content/kuliner/kulinerSlug.json';

export function getStaticPaths() {
  return kuliners.map((kuliner) => ({
    params: { slug: kuliner.slug },
    props: { kuliner },
  }));
}

const { kuliner } = Astro.props;
---

<PostLayout title={kuliner.title}>
  <main>
    <section class="ps-4 pe-4 pt-2">
      <div class="lg:flex lg:justify-center sm:items-center lg:h-dvh lg:border-b">
        <div class="lg:w-2/5 lg:space-y-4 md:space-y-3 sm:space-y-2">
          <h1
            class="lg:text-8xl md:text-6xl sm:text-3xl text-xl text-center font-semibold"
          >
            {kuliner.title}
          </h1>
          <p class="lg:text-4xl md:text-2xl sm:text-xl text-sm font-light text-center lg:pr-4 lg:pt-3 md:pb-5 sm:pb-3 pb-2 italic">
            {kuliner.subtitle}
          </p>
        </div>
        <div class="lg:w-3/5 w-full lg:h-[90%] md:h-[70%] sm:h-[60%]">
          <img
            src={kuliner.heroImage}
            alt={kuliner.heroAlt}
            class="h-full w-full sm:aspect-video aspect-square object-cover"
          />
        </div>
      </div>
    </section>

    <section class="mb-[12%] ps-4 pe-4">
      <div class="lg:ms-72 lg:me-72 sm:space-y-5 text-justify">
        <article>
          <p class="leading-loose pt-3">{kuliner.firstPara}</p>
          <br />
          <p class="leading-loose">{kuliner.secondPara}</p>
          <figure class="sm:py-5 py-10 italic text-sm">
            <img
              src={kuliner.contentImage}
              alt={kuliner.contentAlt}
              class="block sm:w-4/5 w-full mx-auto sm:aspect-video aspect-square object-cover"
            />
            <figcaption>{kuliner.contentAlt}</figcaption>
          </figure>
          <p class="leading-loose">{kuliner.thirdPara}</p>
        </article>
      </div>
    </section>
  </main>
  <FooterSection />
</PostLayout>
