---
import PostLayout from "../../layouts/PostLayout.astro";
import FooterSection from "../../layouts/FooterSection.astro";
import { spots } from '../../content/wisata/wisataSlug.json';

export function getStaticPaths() {
  return spots.map((spot) => ({
    params: { slug: spot.slug },
    props: { spot },
  }));
}

const { spot } = Astro.props;
---

<PostLayout title={spot.title}>
  <main>
    <section>
      <div class="flex justify-center items-center h-dvh border-b">
        <div class="w-2/5 text-center space-y-4">
            <h1 class="text-8xl font-bold">{spot.title}</h1>
            <p class="text-2xl font-light text-justify px-7">{spot.subtitle}</p>
        </div>
        <div class="w-3/5 h-full">
          <img src={spot.heroImage} alt={spot.heroAlt} class="h-full aspect-video object-cover"/>
        </div>
      </div>
    </section>

    <section class="mt-[10%] mb-[12%]">
      <div class="ms-72 me-72 space-y-5 text-justify">
        <img src={spot.contentImage} alt={spot.contentAlt} class="block w-4/5 mx-auto aspect-video object-cover" />
        <p class="text-xl leading-relaxed">{spot.content}</p>
      </div>
    </section>
    <FooterSection />
  </main>
</PostLayout>
