---
import PostLayout from "../../layouts/PostLayout.astro";
import FooterSection from "../../layouts/FooterSection.astro";
import { spots } from "../../content/wisata/wisataSlug.json";

export function getStaticPaths() {
  return spots.map((spot) => ({
    params: { slug: spot.slug },
    props: { spot },
  }));
}

const { spot } = Astro.props;
---

<PostLayout title={spot.title}>
  <main>
    <section class="ps-4 pe-4">
      <div class="sm:flex sm:justify-center sm:items-center sm:h-dvh border-b">
        <div class="sm:w-2/5 space-y-4">
          <h1
            class="sm:text-8xl text-center sm:font-bold text-4xl font-semibold"
          >
            {spot.title}
          </h1>
          <p class="sm:text-2xl font-light text-justify sm:pr-4 sm:pt-3">
            {spot.subtitle}
          </p>
        </div>
        <div class="sm:w-3/5 w-full h-[90%]">
          <img
            src={spot.heroImage}
            alt={spot.heroAlt}
            class="h-full w-full sm:aspect-video aspect-square object-cover"
          />
        </div>
      </div>
    </section>

    <section class="sm:mt-[10%] mt-[25%] sm:mb-[12%] mb-[10%] ps-4 pe-4">
      <div class="sm:ms-72 sm:me-72 sm:space-y-5 text-justify">
        <article>
          <figure class="sm:py-5 py-10">
            <img
              src={spot.contentImage}
              alt={spot.contentAlt}
              class="block sm:w-4/5 w-full mx-auto sm:aspect-video aspect-square object-cover"
            />
            <figcaption>{spot.contentAlt}</figcaption>
          </figure>
          <p class="sm:text-xl leading-relaxed pt-3">{spot.firstPara}</p>
          <p class="sm:text-xl leading-relaxed">{spot.secondPara}</p>
          <br />
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126371.59439759333!2d110.71500957434246!3d-8.19143882233221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7bc35eaaaaaaab%3A0x10dbfa317c783634!2sPantai%20Nampu!5e0!3m2!1sen!2sid!4v1721736185405!5m2!1sen!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
      </div>
    </section>
    <FooterSection />
  </main>
</PostLayout>
