---
import PostLayout from '../../layouts/PostLayout.astro';
import FooterSection from '../../components/FooterSection.astro';
import { spots } from '../../content/wisata/wisataSlug.json';

export function getStaticPaths() {
  return spots.map((spot) => ({
    params: { slug: spot.slug },
    props: { spot },
  }));
}

const { spot } = Astro.props;
---

<PostLayout title={spot.title}>
  <main>
    <section class="ps-4 pe-4 pt-2">
      <div class="sm:flex sm:justify-center sm:items-center sm:h-dvh border-b">
        <div class="sm:w-2/5 space-y-4">
          <h1
            class="sm:text-8xl text-center sm:font-bold text-4xl font-semibold"
          >
            {spot.title}
          </h1>
          <p class="sm:text-2xl font-light text-center sm:pr-4 sm:pt-3">
            {spot.subtitle}
          </p>
        </div>
        <div class="sm:w-3/5 w-full h-[90%]">
          <img
            src={spot.heroImage}
            alt={spot.heroAlt}
            class="h-full w-full sm:aspect-video aspect-square object-cover"
          />
        </div>
      </div>
    </section>

    <section class="sm:mb-[12%] mb-[10%] ps-4 pe-4">
      <div class="sm:ms-72 sm:me-72 sm:space-y-5 text-justify">
        <article>
          <p class="leading-loose pt-3">{spot.firstPara}</p>
          <br />
          <p class="leading-loose">{spot.secondPara}</p>
          <figure class="sm:py-5 py-10 italic text-sm">
            <img
              src={spot.contentImage}
              alt={spot.contentAlt}
              class="block sm:w-4/5 w-full mx-auto sm:aspect-video aspect-square object-cover"
            />
            <figcaption>{spot.contentAlt}</figcaption>
          </figure>
          <p class="leading-loose">{spot.thirdPara}</p>
          <br />
          <iframe src={spot.map} allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[450px]"></iframe>
        </article>
      </div>
    </section>
    <FooterSection />
  </main>
</PostLayout>
